<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="gitea-fits" value="https://gitea.home.lan/api/packages/faceit-solutions/nuget/index.json" allowInsecureConnections="true" />
  </packageSources>

  <packageSourceMapping>
    <!-- Paquets internes FaceIT/Lama : source Gitea privée -->
    <packageSource key="gitea-fits">
      <package pattern="FaceIT.*" />
      <package pattern="Lama.*" />
    </packageSource>
    <!-- Tous les autres paquets : nuget.org -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>

</configuration>
